<% answers.each do |answer| %>
  <%= render partial: 'shared/answers/answer', locals: { answer: answer } %>
<% end %>

<% if answers.empty? %>
  <p class="muted lead"><%= t('misc.empty_answers') %></p>
<% end %>


<%= render partial: 'shared/answers/form', locals: { 
     answerable: answerable,
     redirect_url: redirect_url 
} %>
