<% content_for :sidebar do %>
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Navigation</li>
    <li><%= link_to Townhouse.model_name.human(count: 2), syndic_townhouse_path(@townhouse)  %></li>
    <li><%= link_to Expense.model_name.human(count: 2), syndic_townhouse_expenses_path(@townhouse)  %></li>
    <li><%= link_to Income.model_name.human(count: 2), syndic_townhouse_incomes_path(@townhouse)  %></li>
    <li><%= link_to IncomeType.model_name.human(count: 2), syndic_townhouse_income_types_path(@townhouse)  %></li>
  </ul>
</div><!--/.well -->
<% end %>