<div class="page-header">
  <h1><%=t '.title' %></h1>
</div>

<%= render partial: 'shared/bulletins/bulletin' %>

<% if @bulletin.published? %>
<%= render partial: 'shared/answers/answers', locals: { 
  answers: @bulletin.answers,
  answerable: @bulletin,
  redirect_url: tenant_tenement_bulletin_path(@tenement, @bulletin)
} %>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),  tenant_tenement_bulletins_path(@tenement), :class => 'btn'  %>
</div>
