<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, tenant from <%= @townhouse.name %></h1>
    <p>
      The syndic <%= @syndic.name %> just published a new bulletin. Here is the content of it:
    </p>
    <h5><%= @bulletin.subject %></h5>
    <p><%= @bulletin.message.html_safe %></p>
    <p>You can also access this bulletin through this link:</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>